<!DOCTYPE html>
<html>
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Delete an existing bot</title>
</head>
<body>
<h1 class="text-center text-success">Delete a Bot</h1>
<div>
<form action="/delete" method = "post">
<div>
<label for="name">Name of the bot you want to delete :</label>
</div>
<input type="text" id="name" name="name" required>
<input type = "submit" class=" pt-2 btn btn-success btn-lg" value="Delete bot">
</form>
</body>
</html>
